qa/qa-artifacts/bps/samples/HI-sample/samplePriorityWithOutXSD/sample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
https://www.sdn.sap.com/irj/sdn/go/portal/prtroot/docs/library/uuid/a0c9ce4c-ee02-2a10-4b96-cb205464aa02

© 2007 Active Endpoints Inc., Adobe Systems Inc., BEA Systems Inc., International
Business Machines Corporation, Oracle Inc., and SAP AG. All rights reserved.
 -->
<wsdl:definitions name="ClaimApproval"
  targetNamespace="http://www.insurance.example.com/claims"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.insurance.example.com/claims"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:fb="http://wso2.org/humantask/feedback"
  xmlns:tschema="http://www.insurance.example.com/claims/schema"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
  
    <xsd:schema elementFormDefault="qualified"
		  targetNamespace="http://www.insurance.example.com/claims/schema"
		  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		  xmlns:tns="http://www.insurance.example.com/claims">
		  <xsd:element name="ClaimApprovalResponseData">
		  	<xsd:complexType>
		      <xsd:sequence>
		        <xsd:element name="response" type="xsd:string"/>
		      </xsd:sequence>
		    </xsd:complexType>
		  </xsd:element>
		  <xsd:element name="ClaimApprovalData">
		    <xsd:complexType>
		      <xsd:sequence>
		        <xsd:element name="cust">
		          <xsd:complexType>
		            <xsd:sequence>
		              <xsd:element name="id" type="xsd:string">
		              </xsd:element>
		              <xsd:element name="firstname" type="xsd:string">
		              </xsd:element>
		              <xsd:element name="lastname" type="xsd:string">
		              </xsd:element>
		            </xsd:sequence>
		          </xsd:complexType>
		        </xsd:element>
		        <xsd:element name="amount" type="xsd:double" />
		        <xsd:element name="region" type="xsd:string" />
		        <xsd:element name="priority" type="xsd:int" />
		        <xsd:element name="activateAt" type="xsd:dateTime" />
		      </xsd:sequence>
		    </xsd:complexType>
		  </xsd:element>
		  <xsd:element name="Notify">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="firstname" type="xsd:string"/>
					<xsd:element name="lastname" type="xsd:string"/>
					<xsd:element name="taskId" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		  <!--xsd:element name="HIFeedback">
			<xsd:complexType name="HIFeedbackType">
				<xsd:sequence>
					<xsd:element name="TaskID" type="string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element-->	
	</xsd:schema>

  
    <!--xsd:schema targetNamespace="http://www.insurance.example.com/claims">
        <xsd:import namespace="http://www.insurance.example.com/claims/schema" schemaLocation="taskid.xsd"/>
    </xsd:schema-->
  </wsdl:types>
  <wsdl:message name="ClaimApprovalRequest">
    <wsdl:part name="ClaimApprovalRequest" element="tschema:ClaimApprovalData" />
  </wsdl:message>
  <wsdl:message name="ClaimApprovalResponse">
    <wsdl:part name="part" element="tschema:ClaimApprovalResponseData" />
  </wsdl:message>
  <!--wsdl:message name="FeedBackTaskID">
    <wsdl:part name="part" element="fb:HIFeedback" />
  </wsdl:message-->
  <wsdl:message name="notifyRequest">
    <wsdl:part name="NotifyPart" element="tschema:Notify" />
    <!--wsdl:part name="lastname" type="xsd:string" />
    <wsdl:part name="taskId" type="xsd:string" /-->
  </wsdl:message>
  <wsdl:portType name="ClaimsHandlingPT">
    <wsdl:operation name="approve">
      <wsdl:input message="tns:ClaimApprovalRequest" />
      <!--wsdl:output message="tns:FeedBackTaskID" /-->
    </wsdl:operation>
    <wsdl:operation name="escalate">
      <wsdl:input message="tns:ClaimApprovalRequest" />
    </wsdl:operation>
    <!--wsdl:operation name="notify">
      <wsdl:input message="tns:notifyRequest" />
    </wsdl:operation-->
  </wsdl:portType>
  <wsdl:portType name="ClaimsHandlingCallbackPT">
    <wsdl:operation name="approvalResponse">
      <wsdl:input message="tns:ClaimApprovalResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClaimApprovalReminderPT">
    <wsdl:operation name="notify">
      <wsdl:input message="tns:notifyRequest" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="ClaimSoapBinding" type="tns:ClaimsHandlingPT">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="approve">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
            	<soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <!--wsdl:operation name="notify">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
            	<soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation-->
    </wsdl:binding>
    <wsdl:binding name="ClaimSoapBindingReminder" type="tns:ClaimApprovalReminderPT">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="notify">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
            	<soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ClaimSoapBindingCB" type="tns:ClaimsHandlingCallbackPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="approvalResponse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
            	<soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
            	<soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ClaimService">
		<wsdl:port name="ClaimPort" binding="tns:ClaimSoapBinding">
     		<soap:address location="http://localhost:9763/services/ClaimService"/>
		</wsdl:port>
		<!--wsdl:port name="ClaimReminderPort" binding="tns:ClaimSoapBindingReminder">
     		<soap:address location="http://localhost:9763/services/ClaimService"/>
		</wsdl:port-->
    </wsdl:service>
    <wsdl:service name="ClaimReminderService">
		<wsdl:port name="ClaimReminderPort" binding="tns:ClaimSoapBindingReminder">
     		<soap:address location="http://localhost:9763/services/ClaimReminderService"/>
		</wsdl:port>
    </wsdl:service>
    <wsdl:service name="ClaimServiceCB">
		<wsdl:port name="ClaimPortCB" binding="tns:ClaimSoapBindingCB">
     		<soap:address location="http://localhost:9763/services/ClaimServiceCB"/>
		</wsdl:port>

    </wsdl:service>
    
</wsdl:definitions>
