qa/qa-artifacts/bps/samples/partner_services_with_rpc/JiraSoap-0.0-SNAPSHOT/JiraSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
        ~ Licensed to the Apache Software Foundation (ASF) under one ~ or more contributor license
        agreements. See the NOTICE file ~ distributed with this work for additional information ~
        regarding copyright ownership. The ASF licenses this file ~ to you under the Apache License,
        Version 2.0 (the ~ "License"); you may not use this file except in compliance ~ with the
        License. You may obtain a copy of the License at ~ ~
        http://www.apache.org/licenses/LICENSE-2.0 ~ ~ Unless required by applicable law or agreed
        to in writing, ~ software distributed under the License is distributed on an ~ "AS IS"
        BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY ~ KIND, either express or implied. See the
        License for the ~ specific language governing permissions and limitations ~ under the
        License.
    -->
<wsdl:definitions xmlns:tns="http://sample.bpel.wso2.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/process/executable" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" targetNamespace="http://sample.bpel.wso2.org"> 
	<wsdl:types>
		<xsd:schema xmlns:tns="http://sample.bpel.wso2.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified">
			<xsd:element name="JiraSoapRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="action" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="target" type="xsd:anyType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JiraSoapResponse" type="xsd:anyType"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="JiraSoapRequestMessage">
		<wsdl:part name="payload" element="tns:JiraSoapRequest"/>
	</wsdl:message>
	<wsdl:message name="JiraSoapResponseMessage">
		<wsdl:part name="payload" element="tns:JiraSoapResponse"/>
	</wsdl:message>
	<wsdl:portType name="JiraSoapPortType">
		<wsdl:operation name="sync">
			<wsdl:input message="tns:JiraSoapRequestMessage" name="input"/>
			<wsdl:output message="tns:JiraSoapResponseMessage" name="output"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="JiraSoapBinding" type="tns:JiraSoapPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sync">
			<soap:operation soapAction="urn:sync" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="JiraSoapService">
		<wsdl:port name="JiraSoapPort" binding="tns:JiraSoapBinding">
			<soap:address location="http://10.100.0.184:9763/services/JiraSoapService/"/>
		</wsdl:port>
	</wsdl:service>
	<plnk:partnerLinkType name="JiraSoapPLinkType">
		<plnk:role name="jiraSoapProvider" portType="tns:JiraSoapPortType"/>
	</plnk:partnerLinkType>
</wsdl:definitions>
