qa/registry/checkin-checkout-script/src/main/resources/governance/wsdls/http/samples/soamoa/yesso/eu/artistRegistry.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ArtistRegistryService" targetNamespace="http://samples.soamoa.yesso.eu/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://samples.soamoa.yesso.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
<xsd:import namespace="http://samples.soamoa.yesso.eu/" schemaLocation="../../../../../../schemas/http/samples/soamoa/yesso/eu/artistRegistry.xsd"/>
</xsd:schema>
  </types>
  <message name="searchArtist">
    <part name="artist" type="tns:artist">
    </part>
  </message>
  <message name="addArtist">
    <part name="arg0" type="tns:artist">
    </part>
  </message>
  <message name="getAll">
    <part name="pageSize" type="xsd:int">
    </part>
    <part name="pageNumber" type="xsd:int">
    </part>
  </message>
  <message name="addArtistResponse">
  </message>
  <message name="searchArtistViaNamePartResponse">
    <part name="return" type="tns:artistArray">
    </part>
  </message>
  <message name="searchArtistViaTypeResponse">
    <part name="return" type="tns:artistArray">
    </part>
  </message>
  <message name="searchArtistViaType">
    <part name="artType" type="tns:artType">
    </part>
  </message>
  <message name="searchArtistResponse">
    <part name="return" type="tns:artistArray">
    </part>
  </message>
  <message name="getAllResponse">
    <part name="return" type="tns:artistArray">
    </part>
  </message>
  <message name="searchArtistViaNamePart">
    <part name="namePart" type="xsd:string">
    </part>
  </message>
  <portType name="YessoTestWebServices">
    <operation name="searchArtist" parameterOrder="artist">
      <input message="tns:searchArtist">
    </input>
      <output message="tns:searchArtistResponse">
    </output>
    </operation>
    <operation name="searchArtistViaType" parameterOrder="artType">
      <input message="tns:searchArtistViaType">
    </input>
      <output message="tns:searchArtistViaTypeResponse">
    </output>
    </operation>
    <operation name="searchArtistViaNamePart" parameterOrder="namePart">
      <input message="tns:searchArtistViaNamePart">
    </input>
      <output message="tns:searchArtistViaNamePartResponse">
    </output>
    </operation>
    <operation name="getAll" parameterOrder="pageSize pageNumber">
      <input message="tns:getAll">
    </input>
      <output message="tns:getAllResponse">
    </output>
    </operation>
    <operation name="addArtist" parameterOrder="arg0">
      <input message="tns:addArtist">
    </input>
      <output message="tns:addArtistResponse">
    </output>
    </operation>
  </portType>
  <binding name="YessoTestWebServicesPortBinding" type="tns:YessoTestWebServices">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="searchArtist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"/>
      </output>
    </operation>
    <operation name="searchArtistViaType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"/>
      </output>
    </operation>
    <operation name="searchArtistViaNamePart">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"/>
      </output>
    </operation>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"/>
      </output>
    </operation>
    <operation name="addArtist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"/>
      </output>
    </operation>
  </binding>
  <service name="ArtistRegistryService">
    <port name="YessoTestWebServicesPort" binding="tns:YessoTestWebServicesPortBinding">
      <soap:address location="http://soamoa.org:9292/artistRegistry"/>
    </port>
  </service>
</definitions>
