performance/esb/Round_3/mule/2.0.1/wsdl/ReverseWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="EchoWSDL" targetNamespace="http://services.samples/xsd"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.samples/xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/newWSDL" xmlns:ns1="http://services.samples/xsd">
            <xsd:import namespace="http://services.samples/xsd" schemaLocation="ReverseSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="EchoOperationRequest">
        <part name="skcotSyub" type="tns:skcotSyub"/>
    </message>
    <message name="EchoOperationResponse">
        <part name="skcotSyub" type="tns:skcotSyub"/>
    </message>
    
    <portType name="skcotSyubPortType">
        <operation name="skcotSyubOperation">
            <input name="message" message="tns:EchoOperationRequest"/>
            <output name="message" message="tns:EchoOperationResponse"/>
        </operation>
        
        <operation name="skcotSyubOperation1K">
            <input name="message1K" message="tns:EchoOperationRequest"/>
            <output name="message1K" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation5K">
            <input name="message5K" message="tns:EchoOperationRequest"/>
            <output name="message5K" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation10K">
            <input name="message10K" message="tns:EchoOperationRequest"/>
            <output name="message10K" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation100K">
            <input name="message100K" message="tns:EchoOperationRequest"/>
            <output name="message100K" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation500K">
            <input name="message500K" message="tns:EchoOperationRequest"/>
            <output name="message500K" message="tns:EchoOperationResponse"/>
        </operation>

        <operation name="skcotSyubOperation1K1S">
            <input name="message1K1S" message="tns:EchoOperationRequest"/>
            <output name="message1K1S" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation5K1S">
            <input name="message5K1S" message="tns:EchoOperationRequest"/>
            <output name="message5K1S" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation10K1S">
            <input name="message10K1S" message="tns:EchoOperationRequest"/>
            <output name="message10K1S" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation100K1S">
            <input name="message100K1S" message="tns:EchoOperationRequest"/>
            <output name="message100K1S" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation500K1S">
            <input name="message500K1S" message="tns:EchoOperationRequest"/>
            <output name="message500K1S" message="tns:EchoOperationResponse"/>
        </operation>
        
        <operation name="skcotSyubOperation1K5S">
            <input name="message1K5S" message="tns:EchoOperationRequest"/>
            <output name="message1K5S" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation5K5S">
            <input name="message5K5S" message="tns:EchoOperationRequest"/>
            <output name="message5K5S" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation10K5S">
            <input name="message10K5S" message="tns:EchoOperationRequest"/>
            <output name="message10K5S" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation100K5S">
            <input name="message100K5S" message="tns:EchoOperationRequest"/>
            <output name="message100K5S" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="skcotSyubOperation500K5S">
            <input name="message500K5S" message="tns:EchoOperationRequest"/>
            <output name="message500K5S" message="tns:EchoOperationResponse"/>
        </operation>        
        
    </portType>
    <binding name="EchoServiceSOAP11Binding" type="tns:skcotSyubPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="skcotSyubOperation">
            <soap:operation soapAction="urn:buyStocks" style="document"/>
            <input name="message">
                <soap:body use="literal"/>
            </input>
            <output name="message">
                <soap:body use="literal"/>
            </output>
        </operation>
        
        <operation name="skcotSyubOperation1K">
            <soap:operation soapAction="urn:buyStocks.2" style="document"/>
            <input name="message1K">
                <soap:body use="literal"/>
            </input>
            <output name="message1K">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation5K">
            <soap:operation soapAction="urn:buyStocks.6" style="document"/>
            <input name="message5K">
                <soap:body use="literal"/>
            </input>
            <output name="message5K">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation10K">
            <soap:operation soapAction="urn:buyStocks.12" style="document"/>
            <input name="message10K">
                <soap:body use="literal"/>
            </input>
            <output name="message10K">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation100K">
            <soap:operation soapAction="urn:buyStocks.110" style="document"/>
            <input name="message100K">
                <soap:body use="literal"/>
            </input>
            <output name="message100K">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation500K">
            <soap:operation soapAction="urn:buyStocks.520" style="document"/>
            <input name="message500K">
                <soap:body use="literal"/>
            </input>
            <output name="message500K">
                <soap:body use="literal"/>
            </output>
        </operation> 
        
        <operation name="skcotSyubOperation1K1S">
            <soap:operation soapAction="urn:buyStocks.2.1" style="document"/>
            <input name="message1K1S">
                <soap:body use="literal"/>
            </input>
            <output name="message1K1S">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation5K1S">
            <soap:operation soapAction="urn:buyStocks.6.1" style="document"/>
            <input name="message5K1S">
                <soap:body use="literal"/>
            </input>
            <output name="message5K1S">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation10K1S">
            <soap:operation soapAction="urn:buyStocks.12.1" style="document"/>
            <input name="message10K1S">
                <soap:body use="literal"/>
            </input>
            <output name="message10K1S">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation100K1S">
            <soap:operation soapAction="urn:buyStocks.110.1" style="document"/>
            <input name="message100K1S">
                <soap:body use="literal"/>
            </input>
            <output name="message100K1S">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation500K1S">
            <soap:operation soapAction="urn:buyStocks.520.1" style="document"/>
            <input name="message500K1S">
                <soap:body use="literal"/>
            </input>
            <output name="message500K1S">
                <soap:body use="literal"/>
            </output>
        </operation> 
        
        <operation name="skcotSyubOperation1K5S">
            <soap:operation soapAction="urn:buyStocks.2.5" style="document"/>
            <input name="message1K5S">
                <soap:body use="literal"/>
            </input>
            <output name="message1K5S">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation5K5S">
            <soap:operation soapAction="urn:buyStocks.6.5" style="document"/>
            <input name="message5K5S">
                <soap:body use="literal"/>
            </input>
            <output name="message5K5S">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation10K5S">
            <soap:operation soapAction="urn:buyStocks.12.5" style="document"/>
            <input name="message10K5S">
                <soap:body use="literal"/>
            </input>
            <output name="message10K5S">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation100K5S">
            <soap:operation soapAction="urn:buyStocks.110.5" style="document"/>
            <input name="message100K5S">
                <soap:body use="literal"/>
            </input>
            <output name="message100K5S">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="skcotSyubOperation500K5S">
            <soap:operation soapAction="urn:buyStocks.520.5" style="document"/>
            <input name="message500K5S">
                <soap:body use="literal"/>
            </input>
            <output name="message500K5S">
                <soap:body use="literal"/>
            </output>
        </operation> 
        
    </binding>
    <service name="EchoService">
        <port name="EchoServicePort" binding="tns:EchoServiceSOAP11Binding">
            <soap:address location="http://localhost:18181/EchoProxy"/>
        </port>
    </service>
    <plnk:partnerLinkType name="EchoWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="EchoWSDLPortTypeRole" portType="tns:skcotSyubPortType"/>
    </plnk:partnerLinkType>
</definitions>
