qa/registry/checkin-checkout-script/src/main/resources/governance/wsdls/http/www/webservicex/net/medicareSupplier.asmx.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.webservicex.net/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.webservicex.net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This section provides names, addresses, and contact information for suppliers that provide services or products under the Medicare program. A supplier is an individual or entity that has agreed to provide health care equipment, items, or services under Medicare. A supplier may provide items such as: Durable Medical Equipment (wheelchairs, walkers, oxygen), Prosthetics (artificial limb replacements or dentures) or Orthotics (mechanical devices used to assist in mobility or supplement the joints and limbs). In addition, a type of supplier can also be Pharmacy/Drug Stores and Optometry/Opticians.This Supplier Directory lists Medicare enrolled pharmacies and suppliers.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webservicex.net/">
      <s:element name="GetSupplierByZipCode">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="zip" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupplierByZipCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="GetSupplierByZipCodeResult" type="s:boolean"/>
            <s:element maxOccurs="1" minOccurs="1" name="SupplierDataLists" type="tns:SupplierDataList"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SupplierDataList">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="SupplierDatas" type="tns:ArrayOfSupplierData"/>
          <s:element maxOccurs="1" minOccurs="1" name="TotalRecords" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSupplierData">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="SupplierData" type="tns:SupplierData"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="SupplierData">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="SupplierNumber" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="CompanyName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Address1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Address2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="City" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="State" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Zip" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="ZipPlus4" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Telephone" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Description" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="IsSupplierParticipating" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetSupplierByCity">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="City" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupplierByCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="GetSupplierByCityResult" type="s:boolean"/>
            <s:element maxOccurs="1" minOccurs="1" name="SupplierDataLists" type="tns:SupplierDataList"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupplierBySupplyType">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="description" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupplierBySupplyTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="GetSupplierBySupplyTypeResult" type="s:boolean"/>
            <s:element maxOccurs="1" minOccurs="1" name="SupplierDataLists" type="tns:SupplierDataList"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSupplierByCitySoapOut">
    <wsdl:part name="parameters" element="tns:GetSupplierByCityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupplierByCitySoapIn">
    <wsdl:part name="parameters" element="tns:GetSupplierByCity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupplierBySupplyTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSupplierBySupplyTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupplierByZipCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSupplierByZipCodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupplierByZipCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSupplierByZipCode">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupplierBySupplyTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSupplierBySupplyType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MediCareSupplierHttpGet">
  </wsdl:portType>
  <wsdl:portType name="MediCareSupplierHttpPost">
  </wsdl:portType>
  <wsdl:portType name="MediCareSupplierSoap">
    <wsdl:operation name="GetSupplierByZipCode">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Supplier details by Zip Code</wsdl:documentation>
      <wsdl:input message="tns:GetSupplierByZipCodeSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:GetSupplierByZipCodeSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierByCity">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Supplier details by City</wsdl:documentation>
      <wsdl:input message="tns:GetSupplierByCitySoapIn">
    </wsdl:input>
      <wsdl:output message="tns:GetSupplierByCitySoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierBySupplyType">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Supplier details by Supply Type</wsdl:documentation>
      <wsdl:input message="tns:GetSupplierBySupplyTypeSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:GetSupplierBySupplyTypeSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediCareSupplierHttpGet" type="tns:MediCareSupplierHttpGet">
    <http:binding verb="GET"/>
  </wsdl:binding>
  <wsdl:binding name="MediCareSupplierHttpPost" type="tns:MediCareSupplierHttpPost">
    <http:binding verb="POST"/>
  </wsdl:binding>
  <wsdl:binding name="MediCareSupplierSoap12" type="tns:MediCareSupplierSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSupplierByZipCode">
      <soap12:operation soapAction="http://www.webservicex.net/GetSupplierByZipCode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierByCity">
      <soap12:operation soapAction="http://www.webservicex.net/GetSupplierByCity" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierBySupplyType">
      <soap12:operation soapAction="http://www.webservicex.net/GetSupplierBySupplyType" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MediCareSupplierSoap" type="tns:MediCareSupplierSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSupplierByZipCode">
      <soap:operation soapAction="http://www.webservicex.net/GetSupplierByZipCode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierByCity">
      <soap:operation soapAction="http://www.webservicex.net/GetSupplierByCity" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierBySupplyType">
      <soap:operation soapAction="http://www.webservicex.net/GetSupplierBySupplyType" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediCareSupplier">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This section provides names, addresses, and contact information for suppliers that provide services or products under the Medicare program. A supplier is an individual or entity that has agreed to provide health care equipment, items, or services under Medicare. A supplier may provide items such as: Durable Medical Equipment (wheelchairs, walkers, oxygen), Prosthetics (artificial limb replacements or dentures) or Orthotics (mechanical devices used to assist in mobility or supplement the joints and limbs). In addition, a type of supplier can also be Pharmacy/Drug Stores and Optometry/Opticians.This Supplier Directory lists Medicare enrolled pharmacies and suppliers.</wsdl:documentation>
    <wsdl:port name="MediCareSupplierSoap12" binding="tns:MediCareSupplierSoap12">
      <soap12:address location="http://www.webservicex.net/medicareSupplier.asmx"/>
    </wsdl:port>
    <wsdl:port name="MediCareSupplierSoap" binding="tns:MediCareSupplierSoap">
      <soap:address location="http://www.webservicex.net/medicareSupplier.asmx"/>
    </wsdl:port>
    <wsdl:port name="MediCareSupplierHttpPost" binding="tns:MediCareSupplierHttpPost">
      <http:address location="http://www.webservicex.net/medicareSupplier.asmx"/>
    </wsdl:port>
    <wsdl:port name="MediCareSupplierHttpGet" binding="tns:MediCareSupplierHttpGet">
      <http:address location="http://www.webservicex.net/medicareSupplier.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
