qa/qa-artifacts/bps/samples/samepartnerlinks/TestProcess/TestProcessService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TestProcessService" targetNamespace="http://TestProcessService.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://TestProcessService.wsdl" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msgs="http://www.example.org/messages">
    <wsdl:types>
      <xsd:schema xmlns:ns="http://ws.apache.org/axis2" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.example.org/messages">
         <xsd:element name="TestProcessServiceRequest">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="param0" type="xsd:int"/>
                  <xsd:element minOccurs="0" name="param1" type="xsd:int"/>
                  <!--<xsd:element minOccurs="0" name="param2" type="xsd:int"/>-->
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="TestProcessServiceResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="return" type="xsd:int"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
    <message name="TestProcessServiceOperationRequest">
        <part name="TestProcessServiceRequest" element="msgs:TestProcessServiceRequest"/>
    </message>
    <message name="TestProcessServiceOperationResponse">
        <part name="TestProcessServiceResponse" element="msgs:TestProcessServiceResponse"/>
    </message>
    <portType name="TestProcessServicePortType">
        <operation name="TestProcessServiceOperation">
            <input name="input1" message="tns:TestProcessServiceOperationRequest"/>
            <output name="output1" message="tns:TestProcessServiceOperationResponse"/>
        </operation>
    </portType>
    <binding name="TestProcessServiceBinding" type="tns:TestProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TestProcessServiceOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TestProcessServiceService">
        <port name="TestProcessServicePort" binding="tns:TestProcessServiceBinding">
            <soap:address location="http://localhost:8080/ode/processes/TestProcessServicePort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TestProcessService">
        <plnk:role name="TestProcessServicePortTypeRole" portType="tns:TestProcessServicePortType"/>
    </plnk:partnerLinkType>
</definitions>
