codegen/src/main/resources/META-INF/JavaClientGeneratorService.wsdl

<wsdl:definitions xmlns:axis2="http://java.service.codegen.wso2.org"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ns0="http://java.service.codegen.wso2.org/xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://java.service.codegen.wso2.org">
    <wsdl:documentation>JavaClientGeneratorService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="java.service.codegen.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="unqualified"
                   targetNamespace="http://java.service.codegen.wso2.org/xsd">
            <xs:element name="generate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="service" nillable="true" type="xs:string"/>
                        <xs:element name="packageName" nillable="true" type="xs:string"/>
                        <xs:element name="invocationStyle" nillable="true" type="xs:string"/>
                        <xs:element name="generateTestCase" nillable="true" type="xs:boolean"/>
                        <xs:element name="databindingMethod" nillable="true" type="xs:string"/>
                        <xs:element name="unpackClasses" nillable="true" type="xs:boolean"/>
                        <xs:element name="serviceBindingName" nillable="true" type="xs:string"/>
                        <xs:element name="servicePortName" nillable="true" type="xs:string"/>
                        <xs:element name="unwrap" nillable="true" type="xs:boolean"/>
                        <xs:element name="wsdlVersion" nillable="true" type="ns0:wsdlRestriction"/>
                        <xs:element name="wsdlLocation" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:simpleType name="wsdlRestriction">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1.1"/>
                    <xs:enumeration value="2.0"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:element name="generateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="generateMessage">
        <wsdl:part name="part1" element="ns0:generate"/>
    </wsdl:message>
    <wsdl:message name="generateResponse">
        <wsdl:part name="part1" element="ns0:generateResponse"/>
    </wsdl:message>
    <wsdl:portType name="JavaClientGeneratorServicePortType">
        <wsdl:operation name="generate">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                        message="axis2:generateMessage" wsaw:Action="urn:generate"/>
            <wsdl:output message="axis2:generateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JavaClientGeneratorServiceSOAP11Binding"
                  type="axis2:JavaClientGeneratorServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="generate">
            <soap:operation soapAction="urn:generate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JavaClientGeneratorServiceSOAP12Binding"
                  type="axis2:JavaClientGeneratorServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="generate">
            <soap12:operation soapAction="urn:generate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JavaClientGeneratorServiceHttpBinding"
                  type="axis2:JavaClientGeneratorServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="generate">
            <http:operation location="generate"/>
            <wsdl:input>
                <mime:content type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JavaClientGeneratorService">
        <wsdl:port name="JavaClientGeneratorServiceSOAP11port_https"
                   binding="axis2:JavaClientGeneratorServiceSOAP11Binding">
            <soap:address location="https://127.0.0.1:9443/soap/JavaClientGeneratorService"/>
        </wsdl:port>
        <wsdl:port name="JavaClientGeneratorServiceSOAP12port_https"
                   binding="axis2:JavaClientGeneratorServiceSOAP12Binding">
            <soap12:address location="https://127.0.0.1:9443/soap/JavaClientGeneratorService"/>
        </wsdl:port>
        <wsdl:port name="JavaClientGeneratorServiceHttpport1"
                   binding="axis2:JavaClientGeneratorServiceHttpBinding">
            <http:address location="https://127.0.0.1:9443/rest/JavaClientGeneratorService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>