qa/qa-artifacts/bps/samples/unified_endpoint/FP/FunctionProcess/MultiplierService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.apache.org/axis2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://MultiplierService.wsdl" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://MultiplierService.wsdl">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="multiply">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int" />
                        <xs:element minOccurs="0" name="args1" type="xs:int" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="multiplyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="multiplyRequest">
        <wsdl:part name="parameters" element="ns:multiply" />
    </wsdl:message>
    <wsdl:message name="multiplyResponse">
        <wsdl:part name="parameters" element="ns:multiplyResponse" />
    </wsdl:message>
    <wsdl:portType name="MultiplierServicePortType">

        <wsdl:operation name="multiply">
            <wsdl:input message="ns0:multiplyRequest" wsaw:Action="urn:multiply" />
            <wsdl:output message="ns0:multiplyResponse" wsaw:Action="urn:multiplyResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MultiplierServiceSoap11Binding" type="ns0:MultiplierServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="multiply">
            <soap:operation soapAction="urn:multiply" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultiplierServiceSoap12Binding" type="ns0:MultiplierServicePortType">

        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="multiply">
            <soap12:operation soapAction="urn:multiply" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultiplierServiceHttpBinding" type="ns0:MultiplierServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="multiply">
            <http:operation location="multiply" />
            <wsdl:input>
                <mime:content type="text/xml" part="multiply" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="multiply" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MultiplierService">
        <wsdl:port name="MultiplierServiceHttpSoap11Endpoint" binding="ns0:MultiplierServiceSoap11Binding">
            <soap:address location="http://localhost:9763/services/test/" />
        </wsdl:port>

        <wsdl:port name="MultiplierServiceHttpsSoap11Endpoint" binding="ns0:MultiplierServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/test/" />
        </wsdl:port>
        <wsdl:port name="MultiplierServiceJmsSoap11Endpoint" binding="ns0:MultiplierServiceSoap11Binding">
            <soap:address location="jms:/MultiplierService?transport.jms.DestinationType=queue&amp;transport.jms.ContentTypeProperty=Content-Type&amp;java.naming.provider.url=tcp://localhost:61616&amp;java.naming.factory.initial=org.apache.activemq.jndi.ActiveMQInitialContextFactory&amp;transport.jms.ConnectionFactoryJNDIName=QueueConnectionFactory" />
        </wsdl:port>
        <wsdl:port name="MultiplierServiceHttpSoap12Endpoint" binding="ns0:MultiplierServiceSoap12Binding">
            <soap12:address location="http://localhost:9763/services/test/" />
        </wsdl:port>

        <wsdl:port name="MultiplierServiceHttpsSoap12Endpoint" binding="ns0:MultiplierServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/test/" />
        </wsdl:port>
        <wsdl:port name="MultiplierServiceJmsSoap12Endpoint" binding="ns0:MultiplierServiceSoap12Binding">
            <soap12:address location="jms:/MultiplierService?transport.jms.DestinationType=queue&amp;transport.jms.ContentTypeProperty=Content-Type&amp;java.naming.provider.url=tcp://localhost:61616&amp;java.naming.factory.initial=org.apache.activemq.jndi.ActiveMQInitialContextFactory&amp;transport.jms.ConnectionFactoryJNDIName=QueueConnectionFactory" />
        </wsdl:port>
        <wsdl:port name="MultiplierServiceHttpsEndpoint" binding="ns0:MultiplierServiceHttpBinding">
            <http:address location="https://localhost:9443/services/test/" />
        </wsdl:port>

        <wsdl:port name="MultiplierServiceHttpEndpoint" binding="ns0:MultiplierServiceHttpBinding">
            <http:address location="http://localhost:9763/services/test/" />
        </wsdl:port>
    </wsdl:service>

    <plink:partnerLinkType name="MultiplierServicePartnerlinkType">
        <plink:role name="multiplierRole" portType="ns0:MultiplierServicePortType"/>
    </plink:partnerLinkType>
</wsdl:definitions>
