qa/wsas/java/TestFramework/testcases/contract_first/BaseDataTypes_DocLitWrapped/service/resources/BaseDataTypesDocLitWService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BaseDataTypesDocLitWService" targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports"><xsd:import namespace="http://tempuri.org/" schemaLocation="xsd0.xsd"/><xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="xsd1.xsd"/><xsd:import namespace="http://schemas.datacontract.org/2004/07/System" schemaLocation="xsd2.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBaseDataTypesDocLitW_RetDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:RetDateTime">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetShort_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetShortResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetLong_InputMessage">
    <wsdl:part name="parameters" element="tns:RetLong">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetByteArray_InputMessage">
    <wsdl:part name="parameters" element="tns:RetByteArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetChar_InputMessage">
    <wsdl:part name="parameters" element="tns:RetChar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetDecimal_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetDecimalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetDateTimeOffset_InputMessage">
    <wsdl:part name="parameters" element="tns:RetDateTimeOffset">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetGuidResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetDouble_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetDoubleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetUShort_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetUShortResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetSByte_InputMessage">
    <wsdl:part name="parameters" element="tns:RetSByte">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetIntResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetUri_InputMessage">
    <wsdl:part name="parameters" element="tns:RetUri">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetLong_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetLongResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetQName_InputMessage">
    <wsdl:part name="parameters" element="tns:RetQName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetDecimal_InputMessage">
    <wsdl:part name="parameters" element="tns:RetDecimal">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetDouble_InputMessage">
    <wsdl:part name="parameters" element="tns:RetDouble">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetBool_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetBoolResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetQName_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetQNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetByte_InputMessage">
    <wsdl:part name="parameters" element="tns:RetByte">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetTimeSpan_InputMessage">
    <wsdl:part name="parameters" element="tns:RetTimeSpan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetBool_InputMessage">
    <wsdl:part name="parameters" element="tns:RetBool">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetInt_InputMessage">
    <wsdl:part name="parameters" element="tns:RetInt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetUInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetUIntResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetByte_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetByteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:RetObject">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetFloat_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetFloatResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetShort_InputMessage">
    <wsdl:part name="parameters" element="tns:RetShort">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetObjectResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetTimeSpan_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetTimeSpanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:RetGuid">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetDateTimeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetUInt_InputMessage">
    <wsdl:part name="parameters" element="tns:RetUInt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetDateTimeOffset_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetDateTimeOffsetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetChar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetCharResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetString_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetStringResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetSingleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetFloat_InputMessage">
    <wsdl:part name="parameters" element="tns:RetFloat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetULong_InputMessage">
    <wsdl:part name="parameters" element="tns:RetULong">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetByteArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetByteArrayResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetString_InputMessage">
    <wsdl:part name="parameters" element="tns:RetString">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetULong_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetULongResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetUShort_InputMessage">
    <wsdl:part name="parameters" element="tns:RetUShort">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetUri_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetUriResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetSByte_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetSByteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IBaseDataTypesDocLitW_RetSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:RetSingle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IBaseDataTypesDocLitW">
    <wsdl:operation name="RetBool">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetBool_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetBool">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetBool_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetBoolResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetByte">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetByte_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetByte">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetByte_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetByteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetSByte">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetSByte_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetSByte">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetSByte_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetSByteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetByteArray">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetByteArray_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetByteArray">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetByteArray_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetByteArrayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetChar">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetChar_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetChar">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetChar_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetCharResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetDecimal">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetDecimal_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetDecimal">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetDecimal_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetDecimalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetFloat">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetFloat_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetFloat">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetFloat_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetFloatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetDouble">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetDouble_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetDouble">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetDouble_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetDoubleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetSingle">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetSingle_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetSingle">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetSingle_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetSingleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetInt">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetInt_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetInt">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetInt_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetIntResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetShort">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetShort_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetShort">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetShort_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetShortResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetLong">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetLong_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetLong">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetLong_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetLongResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetObject">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetObject_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetObject">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetObject_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetObjectResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetUInt">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetUInt_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetUInt">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetUInt_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetUIntResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetUShort">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetUShort_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetUShort">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetUShort_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetUShortResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetULong">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetULong_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetULong">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetULong_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetULongResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetString">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetString_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetString">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetString_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetStringResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetGuid">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetGuid_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetGuid">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetGuid_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetGuidResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetUri">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetUri_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetUri">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetUri_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetUriResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetDateTime">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetDateTime_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetDateTime">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetDateTime_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetDateTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetDateTimeOffset">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetDateTimeOffset_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetDateTimeOffset">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetDateTimeOffset_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetDateTimeOffsetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetTimeSpan">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetTimeSpan_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetTimeSpan">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetTimeSpan_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetTimeSpanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetQName">
      <wsdl:input message="tns:IBaseDataTypesDocLitW_RetQName_InputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetQName">
    </wsdl:input>
      <wsdl:output message="tns:IBaseDataTypesDocLitW_RetQName_OutputMessage" wsaw:Action="http://tempuri.org/IBaseDataTypesDocLitW/RetQNameResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBaseDataTypesDocLitW" type="tns:IBaseDataTypesDocLitW">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RetBool">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetBool" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetByte">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetByte" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetSByte">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetSByte" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetByteArray">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetByteArray" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetChar">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetChar" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetDecimal">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetDecimal" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetFloat">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetFloat" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetDouble">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetDouble" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetSingle">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetSingle" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetInt">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetInt" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetShort">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetShort" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetLong">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetLong" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetObject">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetObject" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetUInt">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetUInt" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetUShort">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetUShort" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetULong">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetULong" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetString">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetString" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetGuid">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetGuid" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetUri">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetUri" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetDateTime">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetDateTime" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetDateTimeOffset">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetDateTimeOffset" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetTimeSpan">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetTimeSpan" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetQName">
      <soap:operation soapAction="http://tempuri.org/IBaseDataTypesDocLitW/RetQName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseDataTypesDocLitWService">
    <wsdl:port name="BasicHttpBinding_IBaseDataTypesDocLitW" binding="tns:BasicHttpBinding_IBaseDataTypesDocLitW">
      <soap:address location="http://131.107.72.15/SoapWsdl_BaseDataTypes_XmlFormatter_Service_Indigo/BaseDataTypesDocLitW.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
