qa/registry/checkin-checkout-script/src/main/resources/governance/schemas/http/schemas/datacontract/org/2004/07/System/test1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/System" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System">
<xs:complexType name="ArrayOfNullableOfdecimal">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="decimal" nillable="true" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfNullableOfdecimal" nillable="true" type="tns:ArrayOfNullableOfdecimal"/>
<xs:complexType name="ArrayOfNullableOfdateTime">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="dateTime" nillable="true" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfNullableOfdateTime" nillable="true" type="tns:ArrayOfNullableOfdateTime"/>
</xs:schema>
