qa/qa-artifacts/developer-studio/sources/healthcare-scenario/HCService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://geo.wso2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://geo.wso2">
    <wsdl:documentation>GeoService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://geo.wso2">
            <xs:element name="getHealthcareCenterDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="gpsLongitude" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="gpsLatitude" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHealthcareCenterDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getHealthcareCenterDetailsRequest">
        <wsdl:part name="parameters" element="ns:getHealthcareCenterDetails"/>
    </wsdl:message>
    <wsdl:message name="getHealthcareCenterDetailsResponse">
        <wsdl:part name="parameters" element="ns:getHealthcareCenterDetailsResponse"/>
    </wsdl:message>
    <wsdl:portType name="GeoServicePortType">
        <wsdl:operation name="getHealthcareCenterDetails">
            <wsdl:input message="ns:getHealthcareCenterDetailsRequest" wsaw:Action="urn:getHealthcareCenterDetails"/>
            <wsdl:output message="ns:getHealthcareCenterDetailsResponse" wsaw:Action="urn:getHealthcareCenterDetailsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GeoServiceSoap11Binding" type="ns:GeoServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getHealthcareCenterDetails">
            <soap:operation soapAction="urn:getHealthcareCenterDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GeoServiceSoap12Binding" type="ns:GeoServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getHealthcareCenterDetails">
            <soap12:operation soapAction="urn:getHealthcareCenterDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GeoServiceHttpBinding" type="ns:GeoServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getHealthcareCenterDetails">
            <http:operation location="getHealthcareCenterDetails"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GeoService">
        <wsdl:port name="GeoServiceHttpSoap11Endpoint" binding="ns:GeoServiceSoap11Binding">
            <soap:address location="http://10.100.3.89:9764/services/GeoService.GeoServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceHttpsSoap11Endpoint" binding="ns:GeoServiceSoap11Binding">
            <soap:address location="https://10.100.3.89:9444/services/GeoService.GeoServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceHttpSoap12Endpoint" binding="ns:GeoServiceSoap12Binding">
            <soap12:address location="http://10.100.3.89:9764/services/GeoService.GeoServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceHttpsSoap12Endpoint" binding="ns:GeoServiceSoap12Binding">
            <soap12:address location="https://10.100.3.89:9444/services/GeoService.GeoServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceHttpsEndpoint" binding="ns:GeoServiceHttpBinding">
            <http:address location="https://10.100.3.89:9444/services/GeoService.GeoServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceHttpEndpoint" binding="ns:GeoServiceHttpBinding">
            <http:address location="http://10.100.3.89:9764/services/GeoService.GeoServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>