qa/registry/checkin-checkout-script/src/main/resources/governance/wsdls/http/charitha/org/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="calculator" targetNamespace="http://charitha.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://charitha.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation>This is a sample wsdl for testing contract first approach</wsdl:documentation>
  <wsdl:types>
<wsdl:documentation>This is the schema definition</wsdl:documentation>
    <xsd:schema targetNamespace="http://charitha.org">
<xsd:element name="division">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="k" type="xsd:double"/>
<xsd:element name="l" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="divisionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="divreturn" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="addition">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="x" type="xsd:int"/>
<xsd:element name="y" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="additionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="addreturn" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="multiplication">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="a" type="xsd:int"/>
<xsd:element name="b" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="multiplicationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="multiplyreturn" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="multiplicationResponse">
    <wsdl:part name="multiplicationresponseparam" element="tns:multiplicationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="additionRequest">
    <wsdl:part name="additionrequestparam" element="tns:addition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="divisionRequest">
    <wsdl:part name="divisionrequestparam" element="tns:division">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplicationRequest">
    <wsdl:part name="multiplicationrequestparam" element="tns:multiplication">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="additionResponse">
    <wsdl:part name="additionresponseparam" element="tns:additionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="divisionResponse">
    <wsdl:part name="divisionresponseparam" element="tns:divisionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="calculatorportType">
<wsdl:documentation>These are the operations of the service</wsdl:documentation>
    <wsdl:operation name="division">
      <wsdl:input message="tns:divisionRequest">
    </wsdl:input>
      <wsdl:output message="tns:divisionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <wsdl:input message="tns:additionRequest">
    </wsdl:input>
      <wsdl:output message="tns:additionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplication">
      <wsdl:input message="tns:multiplicationRequest">
    </wsdl:input>
      <wsdl:output message="tns:multiplicationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calculatorSOAP" type="tns:calculatorportType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="division">
      <soap:operation soapAction="urn:division"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <soap:operation soapAction="urn:addition"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplication">
      <soap:operation soapAction="urn:multiplication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="calculatorService">
    <wsdl:port name="calculatorSOAP11_http" binding="tns:calculatorSOAP">
      <soap:address location="http://localhost:8080/axis2/services/Charithacalculator"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
