qa/qa-artifacts/bps/samples/purchaseOrderProcess/purchaseOrderProcess.wsdl

<?xml version="1.0" encoding="utf-8" ?>

<wsdl:definitions targetNamespace="http://manufacturing.org/wsdl/purchase"
   xmlns:sns="http://manufacturing.org/xsd/purchase"
   xmlns:pos="http://manufacturing.org/wsdl/purchase"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 

   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://manufacturing.org/xsd/purchase"
          schemaLocation="http://manufacturing.org/xsd/purchase.xsd" />
      </xsd:schema>
   </wsdl:types> 

   <wsdl:message name="POMessage">
      <wsdl:part name="customerInfo" type="sns:customerInfoType" />
      <wsdl:part name="purchaseOrder" type="sns:purchaseOrderType" />
   </wsdl:message>

   <wsdl:message name="InvMessage">
      <wsdl:part name="IVC" type="sns:InvoiceType" />
   </wsdl:message>

   <wsdl:message name="orderFaultType">
      <wsdl:part name="problemInfo" element="sns:OrderFault" />
   </wsdl:message>

   <wsdl:message name="shippingRequestMessage">
      <wsdl:part name="customerInfo" element="sns:customerInfo" />
   </wsdl:message>

   <wsdl:message name="shippingInfoMessage">
      <wsdl:part name="shippingInfo" element="sns:shippingInfo" />
   </wsdl:message>

   <wsdl:message name="scheduleMessage">
      <wsdl:part name="schedule" element="sns:scheduleInfo" />
   </wsdl:message> 

   <!-- portTypes supported by the purchase order process -->

   <wsdl:portType name="purchaseOrderPT">
      <wsdl:operation name="sendPurchaseOrder">
         <wsdl:input message="pos:POMessage" />
         <wsdl:output message="pos:InvMessage" />
         <wsdl:fault name="cannotCompleteOrder" message="pos:orderFaultType" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:portType name="invoiceCallbackPT">
      <wsdl:operation name="sendInvoice">
         <wsdl:input message="pos:InvMessage" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:portType name="shippingCallbackPT">
      <wsdl:operation name="sendSchedule">
         <wsdl:input message="pos:scheduleMessage" />
      </wsdl:operation>
   </wsdl:portType> 

   <!-- portType supported by the invoice services -->

   <wsdl:portType name="computePricePT">
      <wsdl:operation name="initiatePriceCalculation">
         <wsdl:input message="pos:POMessage" />
      </wsdl:operation>
      <wsdl:operation name="sendShippingPrice">
         <wsdl:input message="pos:shippingInfoMessage" />
      </wsdl:operation>
   </wsdl:portType>

 

   <!-- portType supported by the shipping service -->

   <wsdl:portType name="shippingPT">
      <wsdl:operation name="requestShipping">
         <wsdl:input message="pos:shippingRequestMessage" />
         <wsdl:output message="pos:shippingInfoMessage" />
         <wsdl:fault name="cannotCompleteOrder"
            message="pos:orderFaultType" />
      </wsdl:operation>
   </wsdl:portType>

 

   <!-- portType supported by the production scheduling process -->

   <wsdl:portType name="schedulingPT">
      <wsdl:operation name="requestProductionScheduling">
         <wsdl:input message="pos:POMessage" />
      </wsdl:operation>
      <wsdl:operation name="sendShippingSchedule">
         <wsdl:input message="pos:scheduleMessage" />
      </wsdl:operation>
   </wsdl:portType>
 

   <plnk:partnerLinkType name="purchasingLT">
      <plnk:role name="purchaseService" portType="pos:purchaseOrderPT" />
   </plnk:partnerLinkType>

 

   <plnk:partnerLinkType name="invoicingLT">
      <plnk:role name="invoiceService" portType="pos:computePricePT" />
      <plnk:role name="invoiceRequester" portType="pos:invoiceCallbackPT" />
   </plnk:partnerLinkType>
 

   <plnk:partnerLinkType name="shippingLT">
      <plnk:role name="shippingService" portType="pos:shippingPT" />
      <plnk:role name="shippingRequester" portType="pos:shippingCallbackPT" />
   </plnk:partnerLinkType> 

   <plnk:partnerLinkType name="schedulingLT">
      <plnk:role name="schedulingService" portType="pos:schedulingPT" />
   </plnk:partnerLinkType> 

</wsdl:definitions>
